
<launch>
    <arg name="model" />
    <arg name="gui" default="False" />
    <param name="robot_description" textfile="$(find bone_description)/urdf/bone.urdf" />

    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
      <param name="publish_frequency" value="1000"/>
      <param name="use_tf_static"     value="true"/>
  </node>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mocap)/config/mocap.rviz"/>
    <node name="mocap_visualize" pkg="mocap" type="3Dviewer.py" output="screen"/>
    <node pkg="tf" type="static_transform_publisher" name="world"
      args="0 0 0 0 0 0 map world 100" />
    <node name="g1_retarget" pkg="mocap" type="g1_retarget.py" output="screen"/>

    <param name="motion_fps" value="30" />
    <param name="amc_file" value="86_05.amc" />
    <param name="render" value="True" />
    <param name="OutputData" value="True" />

</launch>