
<launch>
    <arg name="model" />
    <arg name="gui" default="False" />
    <param name="robot_description" textfile="$(find jaka_humanoid)/urdf/jaka_humanoid.urdf" />
   
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" required="true"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
      <param name="publish_frequency" value="1000"/>
      <param name="use_tf_static"     value="true"/>
  </node>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find jaka_humanoid)/config/rviz.rviz"/>
    
</launch>